     <div class="container-fluid footer-container">
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2018 Habit Track, LLC · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div>


<!--          <div class="container"> -->
      <!-- FOOTER -->
      <!-- <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2018 Habit Track, LLC · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div> -->