<div class="container get-started-box">
  <div class="row">
    <div class="col-md-12 text-center">
    	<div class="card">
      <h2>Ready to build your habits yet???</h2>
      <a href="/login" class="btn btn-lg btn-primary btn-default">Login</a>
      <a href="/signup" class="btn btn-lg btn-primary btn-default">Signup</a>
      </div>
    </div>
  </div>
</div>