<link rel="stylesheet" type="text/css" href='../stylesheets/progress.css'>
<script src="https://d3js.org/d3.v3.min.js"></script>


<div class="widget">
    <div class="header">Progress Status</div>
    <div id="chart" class="chart-container">

    </div>
</div>

  <script src="../javascripts/progress.js"></script>
