<!doctype html>
<html>
<head>
    <title>Habit Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Concert+One|Space+Mono:400,700|Tillana|Roboto" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>

</head>
<body>

    <% include includes/navbar.ejs %>

<div class="container">
    <div class="row">
        <div class="card col-sm-12 choose-habit">
            <h2>Choose Habit</h2>
            <p>Your Current habit is <strong><%= user.habit.currentHabit %></strong>. If you've just completed the Assessment, this recommendation is based on your answers.</p>
            <form action="/choose-habit" method="post">
                <% for(var i=0; i < habits.length; i++) { %>
                    <input type="radio" name="chooseHabit" value="<%= habits[i].name %>" /> <%= habits[i].name %><br />
                <% } %>
                <input type="submit" value="Submit" class="btn btn-lg btn-primary">
            </form>
        </div>
    </div>
</div>

<% include includes/footer.ejs %>

</body>

<!-- jQuery and Bootstrap Scripts -->
    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="../javascripts/app.js"></script>

</html>
