<!doctype html>
<html>
<head>
    <title>Habit Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Concert+One|Space+Mono:400,700|Tillana" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>

      <% include includes/navbar.ejs %>

<div class="container">
	<div class="card info-card">
      <h1>A simple daily process...</h1>
      <p>Habit Track is focused on helping you to implement healthier habits into your life. Start with the Health Assessment to determine what area you can make the most improvement in. Login daily to record your success on a clear action towards improving that habit (e.g. Did you drink at least 64oz of water today?). Go for consistency! Your goal is to succeed at your habit for at least 30 consecutive days! Everyday, you will get a simple tip to motivate and inform you on your chosen habit.</p>
  </div>
  <% include includes/get-started.ejs %>
</div>
    
    <% include includes/footer.ejs %>

	<!-- jQuery and Bootstrap Scripts -->
<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>