<!doctype html>
<html>
<head>
    <title>Habit Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Concert+One|Space+Mono:400,700|Tillana" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <!-- https://unsplash.com/@stoicwebdev/likes -->

    <% include includes/navbar.ejs %>


<div class="container marketing">

    <div class="card text-center">
        <h1>Building Lifelong Habits</h1>
        <h2>one day at a time</h2>
    </div>

      <!-- Three columns of text below the carousel -->
      <div class="row main-features">
        <div class="col-lg-4">
          <div class="card">
          <i class="far fa-clipboard fa-10x"></i>
          <h3>Assessment</h3>
          <p>Our complimentary Habit Assessment helps you determine which habits make the greatest impact on your health.</p>
          <p><a class="btn btn-default" href="/how-it-works" role="button">View details »</a></p>
        </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card">
          <i class="far fa-calendar-check fa-10x"></i>
          <h3>Choose a Habit</h3>
          <p>Use our recommended habit to start making small changes today, or choose your own to start your journey.</p>
          <p><a class="btn btn-default" href="/how-it-works" role="button">View details »</a></p>
        </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card">
          <i class="fas fa-tachometer-alt fa-10x"></i>
          <h3>Daily Progress</h3>
          <p>Login daily to update your habit-building activities, receive helpful tips, and track your progress.</p>
          <p><a class="btn btn-default" href="/how-it-works" role="button">View details »</a></p>
        </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


<!--       <div class="row">
          <div class="text-center">
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        </div>
    </div> -->

    


  </div> <!-- /.container marketing -->

  <% include includes/get-started.ejs %>
  <% include includes/footer.ejs %>






<!-- jQuery and Bootstrap Scripts -->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
