
<link rel="stylesheet" type="text/css" href='../stylesheets/pie.css'>
<script src="https://d3js.org/d3.v3.min.js"></script>

<div id="graph">

</div>  
  
  <div id="adjust">
    Duration  <input type="textbox" id="duration"  value="500"> in milliseconds
    <br>
    <button class="randomize">New Data</button> 
    
  </div>
  <script src="../javascripts/pie.js"></script>

