<!doctype html>
<html>
<head>
    <title>Habit Track</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='../stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Alike+Angular|Concert+One|Space+Mono:400,700|Tillana" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>

      <% include includes/navbar.ejs %>
<div class="container">
  <div class="card info-card">
      <h1>Building on micro-habits...</h1>
      <p>Micro-Habits, defined as an actions that requires minimal motivation or effort to complete, are key to beginning habit change.   When you have a daily action so easy, it enables you to engage a key aspect of habit formation: CONSISTENCY. By leveraging consistency, a habit can begin to develop, and as the strenght of that habit increases, you can reach for bigger and better goals. Start small, start with consistency!</p>
  </div>
  <% include includes/get-started.ejs %>
</div>

    
    <% include includes/footer.ejs %>

	<!-- jQuery and Bootstrap Scripts -->
<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>